body {
    width: 100vw;
    height: 100vh;
    background: url('C:/Users/Arthur/Desktop/Testes/psicologia.html/fotos/6e5fb3fb-82a0-420e-83b3-372499bec9fc.jpg');
    background-size: cover;
    margin: 0;
    padding: 3px  ;
}
nav{
    display: flex;
    width:max-content;
    width: 100%;
    position: sticky;
    height:max-content;
    background-image: linear-gradient(to right,rgb(255, 217, 233), rgb(197, 197, 255) 95%);
    top: 0;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.548);
    justify-content: center;
}
.top {text-align: center;}

#logotipo {
    height: 80px;
    width: 120px;
    filter: drop-shadow(0 10px 10px rgb(255, 196, 240));
}

#titulo {
font-family:'Times New Roman', Times, serif;
font-size: 25px;
}

.navegacao{
  display: flex;
    position: sticky;
    top: 0;
    flex-wrap:wrap;
    flex-direction:row;
    align-content: center;
    justify-content: center;
}


/* ===========================================BOTOES==================================================================== */
a{text-decoration: none}

.btn {
        font-size: 20px;
        line-height: 50px;
        height: 50px;
        text-align:center;
        width: 200px;
        cursor: pointer;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.685);
}
    
    .btn-home {
        color: #000000;
        transition: all 1s;
        position: relative;
      }
      .btn-home span {
        transition: all 1s;
      }
      .btn-home::before {
        content: '';
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 88%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 3px;
        border-bottom-width: 3px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: rgb(111, 165, 247);
        border-bottom-color: rgb(111, 165, 247);
        transform: scale(0.1, 1);
      }
      .btn-home:hover span {
        letter-spacing: 2px;
      }
      .btn-home:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
      }
      .btn-home::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
      }
      .btn-home:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
}

.btn-sobre {
    color: #000000;
    transition: all 0.3s;
    position: relative;
  }
  .btn-sobre span {
    transition: all 0.3s;
  }
  .btn-sobre::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 88%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color:  rgb(111, 165, 247);
    border-bottom-color: rgb(111, 165, 247);
    transform: scale(0.1, 1);
  }
  .btn-sobre:hover span {
    letter-spacing: 2px;
  }
  .btn-sobre:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-sobre::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 88%;
    z-index: 1;
    transition: all 0.3s;
  }
  .btn-sobre:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}

.btn-servicos {
    color: #000000;
    transition: all 0.3s;
    position: relative;
  }
  .btn-servicos span {
    transition: all 0.3s;
  }
  .btn-servicos::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 88%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(111, 165, 247);
    border-bottom-color: rgb(111, 165, 247);
    transform: scale(0.1, 1);
  }
  .btn-servicos:hover span {
    letter-spacing: 2px;
  }
  .btn-servicos:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-servicos::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  .btn-servicos:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}

.btn-contato {
    color: #000000;
    transition: all 0.3s;
    position: relative;
  }
  .btn-contato span {
    transition: all 0.3s;
  }
  .btn-contato::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 88%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(111, 165, 247);
        border-bottom-color: rgb(111, 165, 247);
    transform: scale(0.1, 1);
  }
  .btn-contato:hover span {
    letter-spacing: 2px;
  }
  .btn-contato:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-contato::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  .btn-contato:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}

/* =================================================================================================================
===================================================================================================================== */